@page {
  size: A4;
  margin: 15mm;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.singleInvoice
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15mm;
    break-after: page;
}
header
{
    width: 100%;
    display: grid;
    gap:3mm;
    grid-template-columns: 3fr 2fr;
}
h1
{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 5mm;
    color: #1F2937;
    grid-column: 1/3;
}
header>p
{
    font-size: 2.5mm;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #6B7280;
    grid-column: 1/2;
}
.action
{
    grid-column: 2/3;
    grid-row: 2/6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.action>h2
{
    align-self: center;
    font-size: 6mm;
    font-weight: 900;
    color: #6B7280;
    font-family: "Poppins", sans-serif;
}
.info
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10mm;
}
.infoItem
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:3mm;
}
.line
{
    width: 90%;
    height: .4mm;
    border-radius: 10px;
    background-color: #6B7280;
}
.infoItem>h2
{
    font-size:4mm;
    font-weight: 700;
    padding-left: 6mm;
    color: #1F2937;
    font-family: "Inter", sans-serif;
}
.infoItem>p
{
    padding: 1mm 0;
    font-size: 2.5mm;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #6B7280;
}

.table
{
    overflow: hidden;
    width: 100%;
}
.actionItem
{
    text-align: center;
    font-size: 2.5mm;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #1F2937;
    padding: 3mm 0;

}
.rowHeader
{
    display: grid;
    grid-template-columns: .8fr 10mm 2fr 1fr 1fr 1fr;
}
.tableHeader
{
    background-color: #8a919c;
    color: white;
    text-align: center;
    padding: 2mm;
    font-weight: 700;
    font-size: 3mm;
    font-family: "Inter", sans-serif;
}
.row
{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: .8fr 10mm 2fr 1fr 1fr 1fr;
}
.tableItem
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 2.5mm;
    font-family: "Inter", sans-serif;
    color: #1F2937;
    padding: 3mm 0;
}
.LpItem
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.tableItemName
{
    display: flex;
    flex-direction: column;
    padding: 3mm 0;
    gap:2mm;
}
.tableItemName>h2
{
    font-weight: 700;
    font-size: 2.5mm;
    font-family: "Inter", sans-serif;
    color: #1F2937;
}
.tableItemName>h3
{
    font-size: 2mm;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #6B7280;
}
.tableBorderLeft
{
    border-left: .6mm solid #6B7280;
}
.tableBorderRight
{
    border-right: .6mm solid #6B7280;
}
.tableBorderTop
{
    border-top: .6mm solid #6B7280;
}
.tableBorderBottom
{
    border-bottom: .6mm solid #6B7280;
}



.sumTable
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: max-content;
    border: .5mm solid #6B7280;
}
.sumTableHeader
{
    background-color: #8a919c;
    color: white;
    padding: 2mm 4mm;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 3mm;
    font-weight: 700;
    border: .5mm solid #6B7280;
}
.sumTableItem
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 3mm;
    padding: 2mm 4mm;
    border: .5mm solid #6B7280;
}
.bold
{
    font-weight: 900;
}
.paymentAndComments
{
    gap:10mm;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.paymentAndCommentsItem
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:3mm;
}
.paymentAndCommentsItem>h2
{
    font-size:4mm;
    font-weight: 700;
    padding-left: 6mm;
    color: #1F2937;
    font-family: "Inter", sans-serif;
    
}
.paymentAndCommentsItem>p
{
    font-size: 2.5mm;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #6B7280;
}
.commentsContent
{
    white-space: pre-line;
}
.colorRed
{
    color: rgb(255, 0, 0) !important;
}